:root {
  --acent-color: #2196f3;
  --acent-second-color: #ffffff;
  --backgroud-color: #2f303a;
  --text-color: #757575;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --porfolio-btn-color: #f5f4fa;
  --portfolio-second-list-gap: 30px;
  --color-body: #212121;
  --color-icons: #afb1b8;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  box-sizing: border-box;
  margin: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
  border-radius: 4px;
}
img,
a {
  display: block;
  max-width: 100%;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/*----------------------------- HEADER ---------------------------------*/
.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-list .header-item + .header-item,
.header-list-contact .header-item-contact + .header-item-contact {
  margin-left: 50px;
}

.header-list-contact {
  display: flex;
  margin-left: auto;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--acent-color);
  margin-right: 93px;
}
.header-logo-second {
  color: #212121;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-current {
  color: var(--acent-color);
  position: relative;
}

.link-current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.link-current:hover::after {
  background-image: url(../images/hover.png);
}
.header-link-contact {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-icon {
  margin-right: 10px;
  fill: currentColor;
}
.header-link:hover,
.header-link-contact:hover,
.header-link:focus,
.header-link-contact:focus {
  color: var(--acent-color);
}
/*------------------------------------------ MAIN -------------------------------------------*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.hero-background {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(47, 48, 58, 0.4);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--acent-second-color);
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.hero-btn {
  display: flex;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--acent-second-color);
  background-color: var(--acent-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 136px;
  min-height: 30px;
  padding: 10px 32px;
  margin: 0 auto;
}
.quality {
  padding-top: 94px;
  padding-bottom: 94px;
}
.quality-list {
  display: flex;
}
.quality-element {
  width: 270px;
}
.quality-element::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}
.antena-icon::before {
  background-image: url(../images/antena.png);
}
.clock-icon::before {
  background-image: url(../images/clock.png);
}
.diagrama-icon::before {
  background-image: url(../images/diagrama.png);
}
.astonaut-icon::before {
  background-image: url(../images/astonaut.png);
}
.quality-element:not(:nth-child(4n)) {
  margin-right: 30px;
}
.quality-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.quality-after-title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.about {
  padding-bottom: 94px;
}
.about-list {
  display: flex;
  margin-right: -30px;
}
.about-item {
  width: calc(100 / 3- 30px);
  margin-right: 30px;
  position: relative;
}
.about-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.about-thumb {
  position: absolute;
  width: 370px;
  height: 70px;
  top: 224px;
  background: rgba(47, 48, 58, 0.8);
}
.about-text {
  position: absolute;
  width: 100%;
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--acent-second-color);
}
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}
.team-blok {
  background: var(--acent-second-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list {
  display: flex;
  /* margin-right: -30px; */
  justify-content: center;
}
.team-cards {
  padding: 30px 0;
}
.team-item {
  width: calc(100 / 4 - 30px);
  margin-right: 30px;
  text-align: center;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-after-name {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 10px;
}
.team-icon-list {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.team-icon-item + .team-icon-item {
  margin-left: 10px;
}
.team-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--color-icons);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon {
  fill: currentColor;
}
.team-icon-link:hover,
.team-icon-link:focus {
  background-color: var(--acent-color);
  color: var(--acent-second-color);
}
.client {
  padding-top: 94px;
  padding-bottom: 94px;
}
.client-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}
.client-list {
  display: flex;
  justify-content: center;
}
.client-item {
  width: 170px;
  height: 92px;
}
.client-item + .client-item {
  margin-left: 30px;
}
.client-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-icons);
  box-sizing: border-box;
  border-radius: 4px;
  height: 92px;
  width: 170px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  fill: var(--color-icons);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-logo:hover,
.client-logo:focus {
  border: 1px solid var(--acent-color);
}
.client-logo:hover .logo,
.client-logo:focus .logo {
  fill: var(--acent-color);
}

/* ------------------------------------------FOOTER ----------------------------------------*/
.footer {
  background-color: var(--backgroud-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
}
.footer-logo-item + .footer-logo-item {
  margin-left: 70px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--acent-color);
}
.footer-logo-second {
  color: var(--acent-second-color);
  margin-bottom: 20px;
}
.footer-list {
  margin-top: 20px;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-link-maps {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--acent-second-color);
}
.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--acent-color);
}

.footer-icon-container {
  margin-left: 70px;
  padding-top: 12px;
}
.footer-icon-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--acent-second-color);
  margin-bottom: 20px;
}

.footer-icon-list {
  display: flex;
  justify-content: center;
}

.footer-logo-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--acent-second-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-item + .footer-icon-item {
  margin-left: 10px;
}
.logo-icon {
  fill: currentColor;
}
.footer-logo-icon:hover,
.footer-logo-icon:focus {
  background-color: var(--acent-color);
}

/* _____________________________________PORTFOLIO ___________________________*/

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-list {
  display: flex;
  margin-right: -8px;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio-item {
  margin-right: 8px;
}
.portfolio-second-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--portfolio-second-list-gap));
  margin-top: calc(-1 * var(--portfolio-second-list-gap));
}
.portfolio-second-item {
  flex-basis: calc(100% / 3 - var(--portfolio-second-list-gap));
  margin-left: var(--portfolio-second-list-gap);
  margin-top: var(--portfolio-second-list-gap);
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-second-item:hover,
.portfolio-second-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-btn {
  border: none;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background: var(--porfolio-btn-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--acent-second-color);
  background-color: var(--acent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-second-link {
  border: 1px solid #eeeeee;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-img-text {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  padding: 63px 24px;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--acent-second-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-second-link:hover .portfolio-img-text,
.portfolio-second-link:focus .portfolio-img-text {
  transform: translateY(0);
}

.portfolio-second-card {
  padding: 20px 24px;
}
.portfolio-second-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-body);
}
.portfolio-after-title {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 4px;
}
/* ---------------MODALKA--------------------------------------------- */
.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 600ms, visibility 400ms;
}
.backdrop.is-hidden .modal {
  transform: scale(0.25);
}
.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--acent-second-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms;
}
.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--acent-second-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: absolute;
  top: 8px;
  right: 8px;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
