@import "./utils/variables";
@import "./base/reset";
@import "./vendors/_mixin";
@import "./base/base";

@import "./utils/hidden";

@import "./components/btn";
@import "./components/container";
@import "./components/modal";

@import "./layout/header";
@import "./layout/hero";
@import "./layout/quality";
@import "./layout/about";
@import "./layout/team";
@import "./layout/client";
@import "./layout/footer";
@import "./layout/footer-conect";
@import "./layout/portfolio";
