.client {
  padding-top: 60px;
  padding-bottom: 60px;
  @include desk {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.client__title {
  margin-bottom: 30px;
  @include font(700, 28px, 1.18, 0.03em);
  text-align: center;
  @include desk {
    margin-bottom: 50px;
    @include font(700, 36px, 1.167, 0.03em);
  }
}
.client-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
  justify-content: center;
}
.client-list__item {
  width: 210px;
  height: 92px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid var(--color-icons);
  border-radius: 4px;

  @include tab {
    width: 226px;
  }
  @include desk {
    width: 170px;
  }
}

.client-list__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 92px;
  width: 100%;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid var(--acent-color);
  }
  &:hover .logo,
  &:focus .logo {
    fill: var(--acent-color);
  }
}
.logo {
  fill: var(--color-icons);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
