.team {
  background: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
  @include desk {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__title {
  @include font(700, 28px, 1.18, 0.03em);
  text-align: center;
  margin-bottom: 50px;
  @include desk {
    @include font(700, 36px, 1.17, 0.03em);
  }
}
.team-list {
  @include tab {
    display: flex;
    justify-content: center;
  }
  @include desk {
    display: flex;
    justify-content: center;
  }
}
.team-blok {
  background: var(--acent-second-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-cards {
  padding: 30px 0 24px;
  @include desk {
    padding: 30px 0;
  }
}
.team-cards__name {
  @include font(500, 16px, 1.19, 0.03em);
}
.team-cards__after-name {
  @include font(null, 16px, 1.19, 00.03em) color: var(--text-color);
  margin-top: 10px;
  margin-bottom: 10px;
}
.team-list__item {
  width: calc(100 / 4 - 30px);
  margin-right: 30px;
  text-align: center;
}
.team-icon-list {
  display: flex;
  justify-content: center;
  // padding-bottom: 30px;
}

.team-icon-list__item + .team-icon-list__item {
  margin-left: 10px;
}
.team-icon-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--color-icons);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-list__icon {
  fill: currentColor;
}
.team-icon-list__link {
  &:hover,
  &:focus {
    background-color: var(--acent-color);
    color: var(--acent-second-color);
  }
}
