.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  @include font(700, 16px, 1.875, 0.06em);
  background-color: var(--acent-color);
  color: var(--acent-second-color);
  border-radius: 4px;
  border: none;
}
