.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 600ms, visibility 400ms;
}
.backdrop .is-hidden .modal {
  transform: scale(0.25);
}
.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--acent-second-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms;
  padding: 40px;
}
.modal__close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--acent-second-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: absolute;
  top: 8px;
  right: 8px;
  &:hover .modal-icons {
    fill: var(--acent-color);
  }
  &:focus .modal-icons {
    fill: var(--acent-color);
  }
}
.modal__icons {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__title {
  margin-bottom: 12px;
  @include font(700, 20px, 1.15, 0.03em);
  text-align: center;
  color: var(--color-body);
}
.modal-form__field:not(:last-child) {
  margin-bottom: 10px;
}
.input-wrap__name {
  height: 41px;
  padding-left: 35px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus + .input-wrap__icons,
  &:hover + .input-wrap__icons {
    fill: var(--acent-color);
  }
}
.modal-form__textarea-text {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}
.input-wrap__name,
.modal-form__textarea-text {
  width: 100%;
  @include font(null, 12px, 1.17, 0.01em);
  color: var(--color-body);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  &:focus,
  &:hover {
    border-color: var(--acent-color);
  }
}

.modal-form__text {
  @include font(null, 12px, 1.17, 0.01em);
  color: var(--text-color);
  display: block;
  margin-bottom: 4px;
}

.modal-form__checkbox {
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal-form__text-checkbox-span {
  color: var(--acent-color);
  border-bottom: 1px solid var(--acent-color);
  padding-left: 5px;
}
.button__modal {
  width: 200px;
  height: 50px;
  margin: auto;
}
.input-wrap,
.modal-form__checkbox {
  position: relative;
}
.input-wrap__icons {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__text-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  @include font(null, 14px, 1.71, 0.03em);
  color: var(--text-color);
}

.modal-form__text-checkbox span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input-icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__policy-checkbox:checked + .modal-form__text-checkbox span {
  background-color: var(--acent-color);
  border: none;
}
.modal-form__policy-checkbox:checked
  + .modal-form__text-checkbox
  .modal-form__input-icon {
  fill: var(--acent-second-color);
}
