:root {
  --acent-color: #2196f3;
  --acent-second-color: #ffffff;
  --backgroud-color: #2f303a;
  --text-color: #757575;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --porfolio-btn-color: #f5f4fa;
  --portfolio-second-list-gap: 30px;
  --color-body: #212121;
  --color-icons: #afb1b8;
}
